[submodule "mars_rover_unity_sim"]
	path = mars_rover_unity_sim
	url = https://github.com/Maxwell44772029/mars_rover_unity_sim.git
[submodule "mars_rover_ros2_ws"]
	path = mars_rover_ros2_ws
	url = https://github.com/Maxwell44772029/mars_rover_ros2_ws.git
